<div class="container">
    <!-- <header>
        <mat-toolbar style="padding: 0;">
            <span>{{title}}</span>
        </mat-toolbar>
    </header> -->

    <main>
        <section>
            <mat-tab-group dynamicHeight  class="hide-tab-header" [selectedIndex]="currentIndex">
                <mat-tab>
                    <app-login    (changeTabEvent)="changeTab($event)"></app-login>
                </mat-tab>
                <mat-tab>
                    <app-register (changeTabEvent)="changeTab($event)"></app-register>
                </mat-tab>
            </mat-tab-group>
        </section>
    </main>
</div>