<div class="container">
    <header>
        <mat-toolbar>
            <span>{{title}}</span>
        </mat-toolbar>
    </header>

    <main>
        <section>
            <mat-tab-group dynamicHeight  class="hide-tab-header" [selectedIndex]="currentIndex">
                <mat-tab>
                    <app-login (goToRegister)="registerEmitted()"></app-login>
                </mat-tab>
                <mat-tab label="Register">
                    <ng-template matTabContent>
                        <app-register></app-register>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </section>
    </main>
</div>