/* You can add global styles to this file, and also import other style files */
@use '../node_modules/@angular/material' as mat;

html,
body {
    color-scheme: light dark;
    @include mat.theme((color: mat.$azure-palette,
            typography: Roboto,
            density: 0));
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hide-tab-header mat-tab-header {
    display: none !important;
}